body {
    background-color: aqua;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
    

}

h1 {
    text-align: center;
    color: black;
}

p {
    text-align: center;
    color: black;
}

.container {
    background-color: blueviolet;
    border-radius:7px;
    height: 200px;
    width: 500px;
    margin: auto;
    padding: 10px;

}